/* 
    Document   : style
    Created on : 28 nov. 2012, 21:14:35
    Author     : Chafiq El Mechrafi <chafiq.elmechrafi@gmail.com>
*/

.emc-dialog {
    
}

.emc-dialog .emc-dialog-progress {
    width : 100%;
    height : 24px;
    position: relative;
    text-align: center;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.emc-dialog .emc-dialog-progress > span {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    color : #ffffff;
    text-shadow: 0 0 0.2em #222;
    width: 100%;
    display: block;
}

.emc-dialog .emc-dialog-progress > div {
    height : 100%;
    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    position: absolute;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari and Chrome */
    -o-transition: width 2s; /* Opera */
}

.emc-dialog .emc-dialog-message {
    display: block;
    font-size: 10px;
    height: 50px;
    overflow: auto;
}